body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:deepskyblue}

h1.headingOne{color:rgb(189, 255, 8)}

h1{color:red}
h2{color:black}
h3{color:black}

h3.vas{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;
    color:fuchsia}

p{color:black}

p.paraOne{color:rgb(3, 3, 58)}

p10{color:rgb(202, 5, 15)}

legend.legTwo{color:crimson}
    label.labOne{color:blueviolet}
    label.labTwo{color:coral}
    label.labThree{color:darksalmon}

p100{color:brown}


/* <style type="text/css"> */

/* body {
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;}
  h1 {
    font-size: 200%;}
  h2 {
    font-size: 1.3em;} */